<div class="git-practical-login-container back-ground-image" style="background-image: url('/assets/login-background.png');  ">
    <div class="git-practical-welcome-title">
      <h1>
        LogIn Form
      </h1>
    </div>
    <div class="git-practical-login-form-container">
      <div class="git-practical-login-form-box">
        <div class="git-practical-avatar" style=" text-align: center;"  >
          <img src="/assets/Untitled.png" alt="Avatar" style=" height: 50%;width: 50%;" class="avatar"  >
        </div>
        <form [formGroup]="logInForm" (ngSubmit)="logIn()">
  
          <div class="label-input-container">
            <label class="required">Email</label>
            <input formControlName="email" type="email" placeholder="Please enter your email"  class="width80"
              [ngClass]="{'error-red-border': logInForm.get('email')?.errors && (logInForm.get('email')?.touched || submittedInvalidForm)}">
            <p *ngIf="(logInForm.get('email')?.errors && logInForm.get('email')?.errors.required) && (logInForm.get('email')?.touched || submittedInvalidForm)">*Email required</p>
            <!-- <p *ngIf="(logInForm.get('email')?.errors && logInForm.get('email')?.errors.pattern) && (logInForm.get('email')?.touched || submittedInvalidForm)">*Valid email required</p> -->
          </div>
  
          <div class="label-input-container">
            <label class="required">Password</label>
            <input formControlName="password" type="password" placeholder="Please enter your password"  class="width80"
              [ngClass]="{'error-red-border': logInForm.get('password')?.errors && (logInForm.get('password')?.touched || submittedInvalidForm)}">
            <p *ngIf="(logInForm.get('password')?.errors && logInForm.get('password')?.errors.required) && (logInForm.get('password')?.touched || submittedInvalidForm)">*Password required</p>
            <!-- <p *ngIf="(logInForm.get('password')?.errors && logInForm.get('password')?.errors.minLength) && (logInForm.get('password')?.touched || submittedInvalidForm)">*Password should have minimum 6 characters</p> -->
            <!-- <p *ngIf="(logInForm.get('password')?.errors && logInForm.get('password')?.errors.pattern) && (logInForm.get('password')?.touched || submittedInvalidForm)">*Valid password required(minimum one number, one character and one special character required.)</p> -->
          </div>
          <button class="git-practical-button" type="submit">LogIn</button>
        </form>
        <div class="git-practical-signup-link">
        Don't have an account?
        <a [routerLink]="['/signup']">Sign Up</a>
      </div>
      </div>
  
      
    </div>
  </div>